﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
  Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
    @Html.Sitecore().VisitorIdentification()
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>The Adventure Company</title>
    <link rel="stylesheet" type="text/css" href="/Css/vendor.min.css" />
    <link rel="stylesheet" type="text/css" href="/Css/niteflight.min.css" />
    <link rel="stylesheet" type="text/css" href="/Css/addition.css">
    <link rel="stylesheet" type="text/css" href="/Css/font-awesome.min.css">
</head>
<body class="header-static ">
    <div id="main-container">
        <!-- [Page Header] -->
        <header class="header-static">
            <nav class="navbar navbar-default navbar-static" id="mainNavbar">
                <div class="container">
                    <!-- [Company Logo] -->
                    <div class="navbar-left">
                        <a class="navbar-brand" href="index.html">
                            <span class="logo">
                                <img src="/Images/Logo_400x60.png" alt="The Adventure Company" width="400" height="60" />
                            </span>
                        </a>
                    </div>
                    <!-- [/Company Logo] -->
                    <!-- [Main Navigation] -->
                    <div class="navbar-left">
                        <div class="collapse navbar-collapse" id="siteNavbar">
                            <ul class="nav navbar-nav">
                                <li><a class="text-uppercase" href="index.html">Home</a></li>
                                <li class="dropdown">
                                    <a href="Event-Sections.html" class="dropdown-toggle text-uppercase" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                        Events<span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="Event-List.html">Climbing</a></li>
                                        <li><a href="Event-List.html">Cycling</a></li>
                                        <li><a href="Event-List.html">Hiking</a></li>
                                        <li><a href="Event-List.html">Skiing</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- [/Main Navigation] -->
                    <!-- [Language Navigation] -->
                    <div class="navbar-right">
                        <div class="navbar-activity">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                                        <i class="fa fa-globe"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="active"><a href="#">English</a></li>
                                        <li><a href="#">Deutsch (Deutschland)</a></li>
                                        <li><a href="#">日本語 (日本)</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- [/Language Navigation] -->
                </div>
            </nav>
        </header>
        <!-- [/Page Header] -->

        <!-- [Page Content] -->
        @Html.Sitecore().Placeholder("main")
        <!-- [/Page Content] -->

        @*
        <!-- [Page Content] -->
        <main>
            @Html.Sitecore().Placeholder("pageContent")
        </main>
        <!-- [/Page Content] -->*@

            @*
            <!-- [Page Content] -->
            <main>
                <header class="page-header">
                    <!-- [Homepage Carousell] -->
                    <div id="carousel_1" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel_1" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel_1" data-slide-to="1" class=""></li>
                            <li data-target="#carousel_1" data-slide-to="2" class=""></li>
                            <li data-target="#carousel_1" data-slide-to="3" class=""></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="jumbotron jumbotron-xl bg-media" style="background-image: url(Images/carousel-climbing.jpg)">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>Climbing</h1>
                                                <p class="lead">Up for challenge? See our climbing events.</p>
                                                <a class="btn btn-hollow btn-lg" href="Event-List.html">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="jumbotron jumbotron-xl bg-media" style="background-image: url(Images/carousel-cycling.jpg)">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>Cycling</h1>
                                                <p class="lead">Happy couple cycling in canola fields.</p>
                                                <a class="btn btn-hollow btn-lg" href="Event-List.html">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="jumbotron jumbotron-xl bg-media" style="background-image: url(Images/carousel-hiking.jpg)">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>Hiking </h1>
                                                <p class="lead">Hikers group trekking in Crimea.</p>
                                                <a class="btn btn-hollow btn-lg" href="Event-List.html">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="jumbotron jumbotron-xl bg-media" style="background-image: url(Images/carousel-skiing.jpg)">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h1>Skiing</h1>
                                                <p class="lead">Join our skiing event!</p>
                                                <a class="btn btn-hollow btn-lg" href="Event-List.html">Read more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel_1" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#carousel_1" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!-- [/Homepage Carousell] -->
                </header>
                <section class="section section-full">
                    <!-- [Featured Events] -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <a href="Event-Detail.html">
                                        <img src="/Images/Hiking-the-Italian-Alps.jpg" class="img-responsive" alt="Hiking the Italian Alps" width="500" height="333" />
                                    </a>
                                    <div class="caption">
                                        <h3 class="teaser-heading">Hiking the Italian Alps</h3>
                                        <p>
                                            Hike one of the most beautiful mountain landscapes in the world. Italy’s dramatic rocky rooftop, the Dolomites offer spectacular views and lovely surroundings, especially on this spring tour. You will enjoy the wild Alpine meadows, snow-tipped peaks and cobblestone mountain villages. We will take scenic paths from Cortina d’ Ampezzo to Alta   Badia and learn about the fascinating history of the region along the way.
                                        </p>
                                        <a href="Event-Detail.html" class="btn btn-default">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <a href="Event-Detail.html">
                                        <img src="/Images/Cycling-from-Bangkok-to-Chiang-Mai.jpg" class="img-responsive" alt="Cycling Bangkok to Chiang Mai" width="500" height="333" />
                                    </a>
                                    <div class="caption">
                                        <h3 class="teaser-heading">Cycling from Bangkok to Chiang Mai</h3>
                                        <p>
                                            Discover the charm of the Thai countryside, on this ten-day cycling tour from Bangkok to Chiang Mai. Along the way, we will visit Buddhist Temples tucked into the cool and lush rainforests, ride down the Chao Phraya River on long-tailed boat and spend the Chiang Mai Elephant Conservatory. This trip an Adventure Company favorite among families.
                                        </p>
                                        <a href="Event-Detail.html" class="btn btn-default">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="thumbnail">
                                    <a href="Event-Detail.html">
                                        <img src="/Images/Rock-Climbing-in-the-Czech-Republic.jpg" class="img-responsive" alt="Rock Climbing in the Czech Republic" width="500" height="333" />
                                    </a>
                                    <div class="caption">
                                        <h3 class="teaser-heading">Rock Climbing in the Czech Republic</h3>
                                        <p>
                                            This two-day tour begins with a stay at the ancient Karlštejn Castle established by Roman Emperor Charles IV to store crowned jewels and holy relics. After our castle stay, we will move on to Cesky Raj, whose translates into Bohemian Paradise, the oldest nature reserve in the Czech Republic.
                                        </p>
                                        <a href="Event-Detail.html" class="btn btn-default">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [/Featured Events] -->
                    <!-- [Upcoming Events] -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="thumbnail">
                                    <a href="Event-Detail.html">
                                        <img src="/Images/Skiing-the-Himalayas.jpg" class="img-responsive" alt="Skiing in the Himalayas" width="500" height="333" />
                                    </a>
                                    <div class="caption">
                                        <h3 class="teaser-heading">Skiing the Himalayas</h3>
                                        <p>
                                            The Himalayan Mountains offer the highest altitude skiing and snowboarding in the world. Here, you are surrounded by the largest and steepest mountains on earth and the views are unparalleled. Because the mountains are so high, the runs are long. The geographical location and the heavy snowfall make Gulmarg’s ski runs the best in the Himalayas, if not the world. <br>
                                            Our journey to Gulmarg from Srinagar is perhaps the most enchanting part of the trip. You will see picturesque villages, spectacular mountain views, and forested slopes on this tour through the unique landscape of the Himalayas.
                                        </p>
                                        <a href="Event-Detail.html" class="btn btn-default">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="well bg-primary">
                                    <h5 class="text-uppercase">Events</h5>
                                    <ul class="media-list">
                                        <li class="media">
                                            <div class="media-body">
                                                May 18, 2016
                                                <h4 class="media-heading">
                                                    <a href="Event-Detail.html">Cycling from Bangkok to Chiang Mai</a>
                                                </h4>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-body">
                                                September 20, 2016
                                                <h4 class="media-heading">
                                                    <a href="Event-Detail.html">Hiking the Italian Alps </a>
                                                </h4>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-body">
                                                December 15, 2016
                                                <h4 class="media-heading">
                                                    <a href="Event-Detail.html">Skiing the Himalayas</a>
                                                </h4>
                                            </div>
                                        </li>
                                        <li class="media">
                                            <div class="media-body">
                                                May 24, 2017
                                                <h4 class="media-heading">
                                                    <a href="Event-Detail.html">Rock Climbing in the Czech Republic</a>
                                                </h4>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="Event-Sections.html" class="btn btn-default">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [/Upcoming Events] -->
                </section>
            </main>
            <!-- [/Page Content] -->*@
            <!-- [Footer Content] -->
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- [About Us] -->
                            <div class="well">
                                <h4>About Us</h4>
                                <p>
                                    The Adventure Company is a nonprofit organization. In each location where we sponsor events, we carefully vet local conservation organizations so that our members have the opportunity to donate their money where it will do the most good on a local level.
                                </p>
                            </div>
                            <!-- [/About Us] -->
                        </div>
                        <div class="col-md-4">
                            <!-- [Meta Navigation] -->
                            <ul class="nav nav-stacked">
                                <li>
                                    <a href="Content-page.html" title="Legal Notice">Legal Notice</a>
                                </li>
                                <li>
                                    <a href="Content-page.html" title="Privacy Policy">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="Content-page.html" title="Terms and Conditions">Terms and Conditions</a>
                                </li>
                            </ul>
                            <!-- [/Meta Navigation] -->
                        </div>
                    </div>
                </div>
                <div class="footer-bottom text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- [Copyright] -->
                                <small class="copyright">
                                    <span>Copyright &copy; 2016 Version 1.0.0.0</span>
                                </small>
                                <!-- [/Copyright] -->
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- [/Footer Content] -->
</div>
    <script src="/Scripts/Sitecore.Foundation.Theming.min.js"></script>
    <script src="/Scripts/Navigation.js"></script>
</body>
</html>