﻿@model events.tac.local.Models.OverviewList 


<!-- [Category List] -->
<ul class="block-grid-md-4 block-grid-sm-3 block-grid-xs-1">
    @foreach (var item in Model)
    {
        <li>
            <div class="thumbnail">
                <a href="@item.Url">
                    @item.Image
                </a>
                <div class="caption">
                    <h3 class="teaser-heading">@item.Title</h3>
                    <a href="@item.Url" class="btn btn-default">@Model.ReadMore</a>
                </div>
            </div>
        </li>
    }
 </ul>

<!--
    <li>
        <div class="thumbnail">
            <a href="Event-List.html">
                <img src="Images/skiing-events.jpg" class="img-responsive" alt="ski" width="500" height="333" />
            </a>
            <div class="caption">
                <h3 class="teaser-heading">Skiing</h3>
                <a href="Event-List.html" class="btn btn-default">Read more</a>
            </div>
        </div>
    </li>
    -->
<!-- [Category List] -->