﻿@model events.tac.local.Models.FeaturedEvent

<div class="col-sm-4">
    <div class="thumbnail well @Model.CssClass">
        <a href="Event-Detail.html">
           @Model.EventImage
    @*<img src="/Images/Hiking-the-Italian-Alps.jpg" class="img-responsive" alt="Hiking the Italian Alps" width="500" height="333" /> *@  
        </a>
        <div class="caption">
            <h3 class="teaser-heading">@Model.Heading</h3>
            <p>
                @Model.Intro
            </p>
            @*<a href="Event-Detail.html" class="btn btn-default">Read more</a>*@
            <a href="@Model.URL" class="btn btn-default">Read more</a>
        </div>
    </div>
</div>