﻿
<!-- [Comments Form] -->
<script src="/sitecore/shell/client/Services/Assets/lib/itemservice.js"></script>
<script src="~/Scripts/commentsForm.js"></script>

<div>
    <form onsubmit="createCommentItem(this, '@RenderingContext.Current.Rendering.Item.Paths.FullPath')">
            <div>
                <input type="text" class="form-control" placeholder="Name" name="name">
                <input type="text" class="form-control" placeholder="Add your comment here" name="comment">
            </div>
            <input type="submit" class="btn btn-default" value="Submit Comment">        
    </form>
</div>
<!-- [/Comments Form] -->
