﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<!-- [Page Content] -->
<main>
    <header class="page-header">
        <div class="container">
            @Html.Sitecore().Placeholder("pageHeader")
            @*
                <!-- [Breadcrumb Navigation] -->
                <ol class="breadcrumb">
                    <li><a href="Index.html">Home</a></li>
                    <li><a href="Event-Sections.html">Events</a></li>
                    <li><a href="Event-List.html">Climbing</a></li>
                    <li class="active"><a href="Event-Detail.html">Climbing the Face of Half Dome</a></li>
                </ol>
                <!-- [/Breadcrumb Navigation] -->
            *@
        </div>
    </header>
    <section class="page-header">
        <div class="container">
            <!-- [Two Columns] -->
            <div class="row">
                <div class="col-lg-4">
                    @Html.Sitecore().Placeholder("pageSide")
                </div>
                <div class="col-lg-8">
                    @Html.Sitecore().Placeholder("pageContent")
                </div>
            </div>
            <!-- [/Two Columns] -->
        </div>
    </section>
</main>
<!-- [/Page Content] -->